<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-file-text"></i></span>

                <div class="info-box-content" data-ng-click="vm.printOrder()" style="cursor: pointer">
                    <span class="info-box-text">&nbsp;</span>
                    <span class="info-box-number">PRINT</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 pull-right" ng-if="vm.state=='WAITING'">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-list-alt"></i></span>

                <div class="info-box-content" data-ng-click="vm.approveOrder()" style="cursor: pointer">
                    <span class="info-box-text">Approve</span>
                    <span class="info-box-number">Order</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

    </div>
    <!-- /.row -->

    <!-- Main row -->
    <div id="printContent">
        <div class="row">

            <div class="col-md-12">
                <div class="box box-info">
                    <!-- title row -->
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Invoice
                        </h3>
                        <h2 ng-if="vm.isVoid==true">
                            {{vm.comment}}
                        </h2>
                    </div>
                    <!-- info row -->
                    <div class="box-body">
                        <div class="col-sm-2 invoice-col">
                            Customer<br>
                            <b>{{vm.customerName}}</b><br>
                            <br>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-2 invoice-col">
                            Table<br>
                            <b>{{vm.tableId}}</b><br>
                            <br>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-2 invoice-col">
                            Date<br>
                            <b>{{ vm.orderTime | date : "dd.MM.y" }}</b><br>
                            <br>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-2 invoice-col">
                            Time<br>
                            <b>{{ vm.orderTime | date : "shortTime" }}</b><br>
                            <br>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-2 invoice-col pull-right">
                            Invoice<br>
                            <b>Order ID:</b> {{ vm.kotNumber }}<br>
                            <br>
                        </div>
                        <!-- /.col -->

                        <div class="row">
                            <div class="col-xs-12 table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Item Code</th>
                                        <th>Item Name</th>
                                        <th>Qty</th>
                                        <th>Price</th>
                                        <th>Amount</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="menuItem in vm.menu">
                                        <td>{{menuItem.skuCode}}</td>
                                        <td>{{menuItem.name}}</td>
                                        <td>{{menuItem.quantity}}</td>
                                        <td>{{menuItem.price}}</td>
                                        <td>{{menuItem.amount}}</td>
                                        <td ng-if="menuItem.id!=-1"></td>
                                        <td ng-if="menuItem.id===-1">
                                            <button type="button" class="btn btn-primary"
                                                    data-ng-click="vm.addItemsModal(this.menuItem)">Add Item</button>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <!-- accepted payments column -->
                            <div class="col-xs-6" style="margin-top: 140px">
                                <p class="lead" style="font-size: 18px">Thank You!</p>
                                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                                    Restaurant MS,<br/>
                                    Address.<br/>
                                    <br/>
                                    Tel: <br/>
                                    Fax: <br/>
                                    Email: <br/>
                                </p>
                            </div>
                            <!-- /.col -->
                            <div class="col-xs-6">
                                <p class="lead">Payment</p>

                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <th style="width:80%">Subtotal:</th>
                                            <td>{{ vm.subTotal }}</td>
                                        </tr>
                                        <tr>
                                            <th>Tax (%):</th>
                                            <td>{{ vm.tax }}</td>
                                        </tr>
                                        <tr>
                                            <th>Service Charges (%):</th>
                                            <td>{{ vm.serviceCharge }}</td>
                                        </tr>
                                        <tr>
                                            <th>Discount:</th>
                                            <td>{{ vm.discount }}</td>
                                        </tr>
                                        <tr>
                                            <th>Total:</th>
                                            <td>{{ vm.total}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.row -->
</section>
<!-- /.content -->


<!-- Add Item Modal -->
<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addItemModalLabel">Add Item</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="newitemname" class="control-label">Item Name</label>
                        <input type="text" class="form-control" placeholder="Enter New Item"
                               ng-model="vm.newItemName" id="newItemName" required>
                    </div>
                    <div class="form-group">
                        <label for="categorySelect" class="control-label">Category</label>
                        <select class="form-control select2" id="categorySelect" ng-model="newItemCategory">
                            <option ng-repeat="category in vm.categoryList" ng-value="category.categoryId">
                                {{category.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="newItemPortion" class="control-label">Portion</label>
                        <input type="text" class="form-control" placeholder="Enter Portion"
                               ng-model="newItemPortion" id="newItemPortion" required>
                    </div>
                    <div class="form-group">
                        <label for="newItemPrice" class="control-label">Price</label>
                        <input type="number" class="form-control" placeholder="Enter Price"
                               ng-model="vm.newItemPrice" id="newItemPrice" required>
                    </div>
                    <div class="form-group">
                        <label for="newItemSKUCode" class="control-label">SKU Code</label>
                        <input type="text" class="form-control" placeholder="Enter SKU Code"
                               ng-model="newItemSKUCode" id="newItemSKUCode" required>
                    </div>
                    <div class="form-group">
                        <label for="newItemTAXCode" class="control-label">TAX Code</label>
                        <input type="text" class="form-control" placeholder="Enter TAX Code"
                               ng-model="newItemTAXCode" id="newItemTAXCode" required>
                    </div>
                    <div class="form-group">
                        <label for="newItemComment" class="control-label">Comment</label>
                        <input type="textarea" class="form-control" placeholder="Enter Comment"
                               ng-model="newItemComment" id="newItemComment">
                    </div>
                    <div class="form-group">
                        <label for="kitchenSelect" class="control-label">Kitchen</label>
                        <select class="form-control select2" id="kitchenSelect" ng-model="newItemKitchen">
                            <option ng-repeat="kitchen in vm.kitchenList" ng-value="kitchen.kitchenId">
                                {{kitchen.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tkSelect" class="control-label">Take Away</label>
                        <input id="tkSelect" ng-model="newItemTakeAway" type="checkbox">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="vm.addItemToList(vm.newItemName,this.newItemCategory,
                this.newItemPortion,vm.newItemPrice,this.newItemSKUCode,this.newItemTAXCode,this.newItemComment, this.newItemKitchen, this.newItemTakeAway)">
                    Add Item
                </button>
            </div>
        </div>
    </div>
</div>
