<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-file-text"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Pending KOT</span>
                    <span class="info-box-number">{{ vm.pendingOrderCount }}</span>
                </div>

                <!-- /.info-box-content -->
            </div>

        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-beer"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Served KOT</span>
                    <span class="info-box-number">{{ vm.servedOrderCount }}</span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 pull-right">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-shopping-cart"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Order Number</span>
                    <span class="info-box-number">{{ vm.kotNumber }}</span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12 pull-right">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-tags"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Order Type</span>
                    <span class="info-box-number">
                        <input style="margin-top: -5px" type="checkbox" checked data-toggle="toggle" id="ordertoggle"
                               data-onstyle="primary" data-offstyle="info" data-height="25"/>

                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Main row -->
    <div class="row">
        <div class="col-md-8">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info" style="height: 100%">
                <div class="box-header with-border">
                    <h3 class="box-title">Kitchen Order Ticket Details</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <ul class="nav nav-tabs" style="border: none; top: 10px">
                        <li class="dropdown" ng-repeat="category in vm.categoriesList">
                            <a data-ng-click="vm.selectCategory(category)" class="btn btn-flat"
                               style="background-color: {{category.colorCode}}">
                                {{category.name}}
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-tabs" style="border: none; margin-top: 10px; margin-bottom: 20px">
                        <li class="dropdown" ng-repeat="item in vm.selectedCategoryItemList | orderBy:'priority'">
                            <a data-ng-click="vm.addToTable(item)" class="btn btn-flat"
                               ng-if="item.active ==true && item.isTakeAway == 1 && vm.type == 1">
                                {{item.name}}
                            </a>
                            <a data-ng-click="vm.addToTable(item)" class="btn btn-flat"
                               ng-if="item.active ==true && item.isTakeAway == 0 && vm.type == 0">
                                {{item.name}}
                            </a>
                        </li>
                    </ul>

                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Item</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>Amount</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="menuItem in vm.menu">
                                <td>{{menuItem.skuCode}}</td>
                                <td>{{menuItem.name}}</td>
                                <td>{{menuItem.price}}</td>
                                <td><input type="number" ng-model="menuItem.quantity" ng-change="vm.changeQuantity()">
                                </td>
                                <td>{{menuItem.amount | number:2 }}</td>
                                <td>
                                    <span class="input-group-btn">
                                            <button type="button" class="btn btn-flat bg-red"
                                                    data-ng-click="vm.removeItem(menuItem)"><i
                                                    class="fa fa-close"></i></button>
                                            </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Payment Information</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div style="margin-top: 20px">

                        <div class="table-responsive">
                            <table class="table">
                                <tr>
                                    <th style="width:75%">Subtotal:</th>
                                    <td>LKR. {{ vm.subTotal | number:2 }}</td>
                                </tr>
                                <tr>
                                    <th style="width:75%">Tax (%):</th>
                                    <td><input type="number" ng-value="vm.tax" ng-model="vm.tax"
                                               ng-change="vm.calculateBalance()" disabled></td>
                                </tr>
                                <tr>
                                    <th style="width:75%">Service Charges (%):</th>
                                    <td><input type="number" ng-value="vm.serviceCharge" ng-model="vm.serviceCharge"
                                               ng-change="vm.calculateBalance()" disabled></td>
                                </tr>
                                <!--<tr>
                                    <th style="width:75%">Discount (LKR.) :</th>
                                    <td><input type="number" ng-value="vm.discount" ng-model="vm.discount"
                                               ng-change="vm.calculateBalance()"></td>
                                </tr>-->
                                <tr>
                                    <th style="width:75%">Total:</th>
                                    <td>LKR. {{ vm.calculateTotal() | number:2}}</td>
                                </tr>
                                <tr>
                                    <th style="width:75%">Payment (LKR.) : (<a
                                            data-ng-click="vm.openPaymentMethodModal()"
                                            style="cursor: pointer">Cash</a>)
                                    </th>
                                    <td><input type="number" ng-value="vm.payment" ng-model="vm.payment"
                                               ng-change="vm.calculateBalance()"></td>
                                </tr>
                                <tr>
                                    <th style="width:75%">Balance:</th>
                                    <td>LKR. {{ vm.calculateBalance() | number:2 }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Order Information</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div role="form">
                        <div class="form-group">
                            <label for="customername">Customer Name</label>
                            <input type="text" class="form-control" id="customername"
                                   placeholder="Customer Name"
                                   ng-model="vm.customerName">
                        </div>
                        <div class="form-group" ng-show="vm.type==0">
                            <label for="tableSelect">Table</label>
                            <select class="form-control select2" id="tableSelect" ng-model="vm.tableId" >
                                <option ng-repeat="table in vm.tableList" ng-value="table.tableId">
                                    {{table.name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="comment">Comment</label>
                            <input type="text" class="form-control" id="comment" placeholder="Comment"
                                   ng-model="vm.comment">
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.row -->
</section>
<!-- /.content -->

<div class="row" style="position:fixed; bottom: 0px; width: 85%">
    <div class="col-md-12">
        <div class="box box-info" style="height: 100%; bottom: -20px">
            <div class="box-body">
                <a data-ng-click="vm.openOrderModel()" class="btn btn-info btn-flat btn-lg pull-left">
                    Open Order
                </a>

                <a data-ng-click="vm.removeAllItems()" class="btn btn-danger btn-flat btn-lg pull-right">
                    Clear KOT
                </a>

                <a class="btn btn-flat btn-success btn-lg pull-right" data-ng-click="vm.placeKOT()" style="margin-right: 10px">
                    Place KOT
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="paymentMethodModal" tabindex="-1" role="dialog"
     aria-labelledby="paymentMethodModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="paymentMethodModalLabel">Select Payment Method</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                            Cash
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" disabled>
                            Debit Card
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                            Credit Card
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        data-ng-click="vm.setSelectedPaymentMethod()">Select
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Submit Order Modal -->
<div class="modal fade bs-example-modal-lg" id="submitOrderModal" tabindex="-1" role="dialog"
     aria-labelledby="submitOrderModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="submitOrderModalLabel">Submit Order</h4>
            </div>
            <div class="modal-body">
                <div id="printContent">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-info">
                                <!-- title row -->
                                <div class="box-header with-border">
                                    <h3 class="box-title">
                                        Invoice
                                    </h3>
                                </div>
                                <!-- info row -->
                                <div class="box-body">
                                    <div class="col-sm-2 invoice-col">
                                        Customer<br>
                                        <b>{{vm.customerName}}</b><br>
                                        <br>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-2 invoice-col" ng-show="vm.type==0">
                                        Table<br>
                                        <b>{{vm.tableName}}</b><br>
                                        <br>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-2 invoice-col">
                                        Date<br>
                                        <b>{{ vm.orderTime | date : "dd.MM.y" }}</b><br>
                                        <br>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-2 invoice-col">
                                        Cashier Name<br>
                                        <b>{{ vm.userName }}</b><br>
                                        <br>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-2 invoice-col">
                                        Order Type<br>
                                        <b ng-if="vm.type == 0">Dine in</b><br>
                                        <b ng-if="vm.type == 1">Take away</b><br>
                                        <br>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-2 invoice-col pull-right">
                                        Order ID<br>
                                        <b>{{ vm.kotNumber }}</b> <br>
                                        <br>
                                    </div>
                                    <!-- /.col -->

                                    <div class="row">
                                        <div class="col-xs-12 table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>Item Code</th>
                                                    <th>Item Name</th>
                                                    <th>Qty</th>
                                                    <th>Price</th>
                                                    <th>Amount</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="menuItem in vm.menu">
                                                    <td>{{menuItem.skuCode}}</td>
                                                    <td>{{menuItem.name}}</td>
                                                    <td>{{menuItem.quantity}}</td>
                                                    <td>{{menuItem.price}}</td>
                                                    <td>{{menuItem.amount}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->

                                    <div class="row">
                                        <!-- accepted payments column -->
                                        <div class="col-xs-6" style="margin-top: 140px">
                                            <p class="lead" style="font-size: 18px">Thank You!</p>
                                            <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                                                Restaurant MS,<br/>
                                                Address.<br/>
                                                <br/>
                                                Tel: <br/>
                                                Fax: <br/>
                                                Email: <br/>
                                            </p>
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-xs-6">
                                            <p class="lead">Payment</p>

                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tr>
                                                        <th style="width:80%">Subtotal:</th>
                                                        <td>{{ vm.subTotal | number:2 }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Tax (%):</th>
                                                        <td>{{ vm.tax | number:2 }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Service Charges (%):</th>
                                                        <td>{{ vm.serviceCharge | number:2 }}</td>
                                                    </tr>
                                                    <!--<tr>
                                                        <th>Discount:</th>
                                                        <td>{{ vm.discount | number:2 }}</td>
                                                    </tr>-->
                                                    <tr>
                                                        <th>Total:</th>
                                                        <td>{{ vm.calculateTotal() | number:2 }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Payment ({{vm.paymentMethod}}):</th>
                                                        <td>{{ vm.payment | number:2 }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Balance:</th>
                                                        <td>{{ vm.calculateBalance() | number:2 }}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-if="vm.openOrder==false" type="button" class="btn btn-primary" data-dismiss="modal"
                        data-ng-click="vm.saveOrder()"> Settle Order
                </button>
                <button ng-if="vm.openOrder==false" type="button" class="btn btn-primary" data-dismiss="modal"
                        data-ng-click="vm.printOrder()"> Settle and Print
                </button>
                <button ng-if="vm.openOrder==true" type="button" class="btn btn-primary" data-dismiss="modal"
                        data-ng-click="vm.saveOrder()"> Place Order
                </button>

            </div>
        </div>
    </div>
</div>

<!-- Open Order Modal -->
<div class="modal fade " id="openOrderModal" role="dialog" aria-labelledby="openOrderModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="openOrderModalLabel">Open Order</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="newitemname" class="control-label">ItemName</label>
                        <input type="text" class="form-control" placeholder="Item Name"
                               ng-model="newItemName" id="newItemName">
                    </div>
                    <div class="form-group">
                        <label for="newUnitPrice" class="control-label">Unit Price</label>
                        <input type="number" class="form-control" placeholder="Unit Price"
                               ng-model="newUnitPrice" id="newUnitPrice">
                    </div>
                    <div class="form-group">
                        <label for="newQuantity" class="control-label">Quantity</label>
                        <input type="number" class="form-control" placeholder="Quantity"
                               ng-model="newQuantity" id="newQuantity">
                    </div>
                    <div class="form-group">
                        <label for="newitemname" class="control-label">Comments</label>
                        <input type="text" class="form-control" placeholder="Comments"
                               ng-model="newItemComment" id="newItemComment">
                    </div>
                    <div class="form-group">
                        <label for="kitchenSelect" class="control-label">Kitchen</label>
                        <select class="form-control select2" id="kitchenSelect" ng-model="newItemKitchen">
                            <option ng-repeat="kitchen in vm.kitchenList" ng-value="kitchen.kitchenId">
                                {{kitchen.name}}
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        data-ng-click="vm.addOpenOrderToTable(newItemName,newUnitPrice,newQuantity,newItemComment,newItemKitchen)">
                    Add
                    Item
                </button>
            </div>
        </div>
    </div>
</div>


<script>
    $("#newitemid").keyup(function (event) {
        if (event.keyCode == 13) {
            $("#newItemIdButton").click();
        }
    });

    $(function () {
        $('#ordertoggle').bootstrapToggle({
            on: "Dine in",
            off: "Take away"
        });
    });

    $(function () {
        $('#ordertoggle').change(function () {
            if ($('#ordertoggle').prop('checked')) {
                angular.element('#ordertoggle').scope().vm.changeType(0);
            } else {
                angular.element('#ordertoggle').scope().vm.changeType(1);
            }
            angular.element('#ordertoggle').scope().$apply();
        })
    });
</script>


