<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-file-text"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Available</span>
                    <span class="info-box-number">{{ vm.tableAvailableCount }}</span>
                </div>

                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-file-text"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Unavailable</span>
                    <span class="info-box-number">{{ vm.tableUnavailableCount }}</span>
                </div>

                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->


    </div>
    <!-- /.row -->

    <!-- Main row -->
    <div class="row">
        <!-- Right col-->
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Tables</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="box box-default">
                        <div class="box-body">
                            <form role="form">
                                <div ng-if="table.availability==false" ng-repeat="table in vm.tableList" class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                        <input type="text" class="form-control" value="{{ table.name }}" disabled/>
                                        </span>

                                        <span class=" input-group-btn " style="padding-left: 10px; padding-right: 10px; background-color: #e1dede">
                                                   <input type="checkbox" class="" data-ng-click="vm.updateTable(table.tableId)"
                                                          data-toggle="tooltip"
                                                   />
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- Left col -->

        <!-- /.col -->

    </div>
    <!-- /.row -->


</section>
<!-- /.content -->

<!-- Add Table Modal -->
<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addTableModalLabel">Add Table</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="newtablename" class="control-label">Table Name</label>
                        <input type="text" class="form-control" placeholder="Enter New Table"
                               ng-model="newtablename" id="newtablename">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        data-ng-click="vm.addTables(this.newtablename)">Add
                    Table
                </button>
            </div>
        </div>
    </div>
</div>
