<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 pull-right">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-file-text"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total Orders</span>
                    <span class="info-box-number">{{ vm.completedOrderCount }}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!--

        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Select Period</h3>
                    </div>
                    &lt;!&ndash; /.box-header &ndash;&gt;
                    <div class="box-body">
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>End Date</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="startdatepicker">
                                </div>
                                &lt;!&ndash; /.input group &ndash;&gt;
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label>End Date</label>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="enddatepicker">
                                </div>
                                &lt;!&ndash; /.input group &ndash;&gt;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    -->

    <!-- Main row -->
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Select date range</h3>
                </div>

                <!-- Date range -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="reservation">
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label>
                                <input type="radio" name="r3" class="flat-red" checked ng-click="vm.changeType(2)">
                                Any
                            </label>
                            <label>
                                <input type="radio" name="r3" class="flat-red" ng-click="vm.changeType(0)">
                                Dine in
                            </label>
                            <label>
                                <input type="radio" name="r3" class="flat-red" ng-click="vm.changeType(1)">
                                Take away
                            </label>
                        </div>
                    </div>
                    <button data-ng-click="vm.searchOrders()">Search Orders</button>
                    <!-- /.input group -->
                </div>
                <!-- /.form group -->

            </div>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-12">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Completed Order Details </h3>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>Order Id</th>
                                <th>Customer Name</th>
                                <th>Order Type</th>
                                <th>Order Date</th>
                                <th>Order Time</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="order in vm.completedOrders" data-ng-click="vm.routeToOrder(order.orderId)" style="cursor: pointer;" >
                                <td>{{order.kotNumber}}</td>
                                <td>{{order.customerName}}</td>
                                <td ng-if="order.type==0">Dine In</td>
                                <td ng-if="order.type==1">Take Away</td>
                                <td>{{order.orderTime | date : "yyyy-MM-dd" }}</td>
                                <td>{{order.orderTime | date : "shortTime" }}</td>
                                <td>{{order.amount}}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->

    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<script>
    //Date range picker
    $('#reservation').daterangepicker();

</script>
<!-- bootstrap datepicker -->
