<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-file-text"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Kitchen Tokens</span>
                    <span class="info-box-number">{{vm.pendingOrderCount}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Main row -->
    <div class="row">
        <div class="col-md-12">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Pending Dine in KOT List </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin table-hover dataTable">
                            <thead>
                            <tr>
                                <th>KOT Number</th>
                                <th>Customer Name</th>
                                <th>Table</th>
                                <th>Order Time</th>
                                <th>Amount</th>
                                <th>Type</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-if ="order.type==0" ng-repeat="order in vm.pendingOrders" style="cursor: pointer;" >
                                <td data-ng-click="vm.routeToOrder(order.orderId)">{{order.kotNumber}}</td>
                                <td data-ng-click="vm.routeToOrder(order.orderId)">{{order.customerName}}</td>
                                <td data-ng-click="vm.routeToOrder(order.orderId)">{{order.tableId}}</td>
                                <td data-ng-click="vm.routeToOrder(order.orderId)">{{order.orderTime | date : "shortTime" }}</td>
                                <td data-ng-click="vm.routeToOrder(order.orderId)">{{order.amount}}</td>
                                <td data-ng-click="vm.routeToOrder(order.orderId)" ng-if="order.type==0">Dine In</td>
                                <td data-ng-click="vm.routeToOrder(order.orderId)" ng-if="order.type==1">Take Away</td>
                                <td data-ng-click="vm.routeToOrder(order.orderId)" ng-if="order.openOrder!=1">NORMAL ORDER</td>
                                <td data-ng-click="vm.routeToOrder(order.orderId)" ng-if="order.openOrder==1">OPEN ORDER</td>
                                <td ><button data-ng-click="vm.voidOrderModal(order.orderId)">VOID ORDER</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->

    </div>


    <div class="row">
        <div class="col-md-12">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Pending Take Away KOT List </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin table-hover dataTable">
                            <thead>
                            <tr>
                                <th>KOT Number</th>
                                <th>Customer Name</th>
                                <th>Table</th>
                                <th>Order Time</th>
                                <th>Amount</th>
                                <th>Type</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-if ="order.type==1" ng-repeat="order in vm.pendingOrders" style="cursor: pointer;" >
                                <td data-ng-click="vm.routeToOrder(order.orderId)">{{order.kotNumber}}</td>
                                <td data-ng-click="vm.routeToOrder(order.orderId)">{{order.customerName}}</td>
                                <td data-ng-click="vm.routeToOrder(order.orderId)">{{order.tableId}}</td>
                                <td data-ng-click="vm.routeToOrder(order.orderId)">{{order.orderTime | date : "shortTime" }}</td>
                                <td data-ng-click="vm.routeToOrder(order.orderId)">{{order.amount}}</td>
                                <td data-ng-click="vm.routeToOrder(order.orderId)" ng-if="order.type==0">Dine In</td>
                                <td data-ng-click="vm.routeToOrder(order.orderId)" ng-if="order.type==1">Take Away</td>
                                <td data-ng-click="vm.routeToOrder(order.orderId)" ng-if="order.openOrder!=1">NORMAL ORDER</td>
                                <td data-ng-click="vm.routeToOrder(order.orderId)" ng-if="order.openOrder==1">OPEN ORDER</td>
                                <td ><button data-ng-click="vm.voidOrderModal(order.orderId)">VOID ORDER</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->

    </div>
    <!-- /.row -->
</section>
<!-- /.content -->


<div class="modal fade" id="voidOrderModal" tabindex="-1" role="dialog" aria-labelledby="voidOrderModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="updateCategoryModalLabel">Void Order</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label">Order ID</label>
                        <input type="text" class="form-control"
                               ng-model="vm.voidkotNumber" id="orderId" disabled>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Reason</label>
                        <input type="text" class="form-control"
                               ng-model="vm.voidReason" id="comment">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        data-ng-click="vm.voidOrder()">Void
                    Order
                </button>
            </div>
        </div>
    </div>
</div>