<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-file-text"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">OPEN ORDERS COUNT</span>
                    <span class="info-box-number">{{vm.openOrderCount}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Main row -->
    <div class="row">
        <div class="col-md-12">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Completed Open Order List</h3>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive" style="overflow: auto; max-height: 400px;">
                        <table class="table no-margin table-hover dataTable" >
                            <thead>
                            <tr>
                                <th>KOT Number</th>
                                <th>Customer Name</th>
                                <th>Table</th>
                                <th>Order Date</th>
                                <th>Order Time</th>
                                <th>Amount</th>
                                <th>Type</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  ng-if="order.type==0" ng-repeat="order in vm.openOrders" style="cursor: pointer;" data-ng-click="vm.routeToOrder(order.orderId)">
                                <td>{{order.kotNumber}}</td>
                                <td>{{order.customerName}}</td>
                                <td>{{order.tableName}}</td>
                                <td>{{order.orderTime | date : "yyyy-MM-dd" }}</td>
                                <td>{{order.orderTime | date : "shortTime" }}</td>
                                <td>{{order.amount}}</td>
                                <td ng-if="order.type==0">Dine In</td>
                                <td ng-if="order.type==1">Take Away</td>
                                <td ng-if="order.openOrder!=1">NORMAL ORDER</td>
                                <td ng-if="order.openOrder==1">OPEN ORDER</td>
                                <!--td ><button data-ng-click="vm.voidOrder(order.orderId)" ng-if="order.voidOrder!=1">VOID ORDER</button></td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Voided Take Away KOT List </h3>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive" style="overflow: auto; max-height: 400px;">
                        <table class="table no-margin table-hover dataTable">
                            <thead>
                            <tr>
                                <th>KOT Number</th>
                                <th>Customer Name</th>
                                <th>Order Date</th>
                                <th>Order Time</th>
                                <th>Amount</th>
                                <th>Type</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  ng-if="order.type==1" ng-repeat="order in vm.voidOrders" style="cursor: pointer;" data-ng-click="vm.routeToOrder(order.orderId)">
                                <td>{{order.kotNumber}}</td>
                                <td>{{order.customerName}}</td>
                                <td>{{order.orderTime | date : "yyyy-MM-dd" }}</td>
                                <td>{{order.orderTime | date : "shortTime" }}</td>
                                <td>{{order.amount}}</td>
                                <td ng-if="order.type==0">Dine In</td>
                                <td ng-if="order.type==1">Take Away</td>
                                <td ng-if="order.openOrder!=1">NORMAL ORDER</td>
                                <td ng-if="order.openOrder==1">OPEN ORDER</td>
                                <!--td ><button data-ng-click="vm.voidOrder(order.orderId)" ng-if="order.voidOrder!=1">VOID ORDER</button></td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->